---
layout: default
---

<div class="home">
  <div class="post" itemscope itemtype="http://schema.org/BlogPosting" >
    {% for post in paginator.posts %}
  <br />
    <header class="post-header">
<meta name="google-site-verification" content="9eGvqZdBeupGYrAka0nsUS4_gVvnLy_YuVrbgmHp8JE" />
	  <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
		  <h5>
      &nbsp; &nbsp; &nbsp; &nbsp;{{ site.locales[site.default_locale].PostDate }}{{ post.date | date: "%b %-d, %Y" }}
	  	  </h5>
      </time>
      <h1 itemprop="name" class="post-title">
        <a itemprop="url" class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
	  
 <!--     <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
      <p class="post-meta">
      {{ site.locales[site.default_locale].PostedInCategories }}
      {% for cat in post.categories %}
      <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>{% unless post.categories.last == cat%}, {% endunless %}
      {% endfor %}
      {% if post.tags != empty %}
      {{ site.locales[site.default_locale].Taggedwith }}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% unless post.tags.last == tag %}, {% endunless %}
      {% endfor %}
      {% endif %}
      <br />
	  </p>

	  <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
		  <h5>
      &nbsp; &nbsp; &nbsp; &nbsp;{{ site.locales[site.default_locale].PostDate }}{{ post.date | date: "%b %-d, %Y" }}
	  	  </h5>
      </time>
-->	 
    </header>

    <article class="post-content" itemprop="articleBody">
	  {{ post.content | truncatewords: 20  }}
	  <div class="post__button">
	       <a href="{{ post.url | prepend: site.baseurl }}" class="button" >
			   <br />
	         Read More >>
	       </a>
	     </div>
	  <br />
    </article>
   
    {% endfor %}

  </div>
</div>
